.sectionEvents {
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background-color: #072942;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.contEvents{
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.colEvent{
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colEventImg{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & img{
        width: 100%;
    }
}
.txtEvent1{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: "Roboto-Thin",sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    & span{
        color: #FFF;
        font-family: "EBGaramond-Regular",serif;
        font-style: italic;
        font-weight: 500;
    }
}
.txtEvent2{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: "EBGaramond-Regular",serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}
@media (max-width:990px) {
    .contEvents{
        flex-direction: column;
    }
    .colEvent, .colEventImg{
        width: 100%;
    }
    .colEventImg{
        margin-top: 5%;
    }
}